{% extends "layout.html" %}  

{% block app_content %}

<div class="row form">
    <div class="col-3"></div>
    
    <div class="col-6" >
        <form method="POST" novalidate class="row">

            <div class="col-lg-8">
                {{ form.input_address.label(class_="sr-only") }}
                {{ form.input_address(class_="col-lg-12 form-control") }}
            </div>
        

        {% for error in form.input_address.errors %}
            <span style="color: red; font-weight: bold;">{{ error }}</span>
        {% endfor %}

            <div class="col-lg-4">
                {{ form.submit(class_="btn btn-outline-warning") }}
            </div>
        </form>
    </div>
    <div class="col-3"></div>
</div>

<div class="row fullscreen">
    <div class="col-12">

        <div class="row margintop">
            <div class="col-2"></div>
            <div id="address" class="col-lg-8 p-3 rounded"></div>
            <div class="col-2"></div>
        </div>

        <div class="row margintop">
            <div class="col-2"></div>
            <div id="map" class="col-lg-8 text-center"></div>
            <div class="col-2"></div>
        </div>

        <div class="row margintop">
            <div class="col-2"></div>
            <div id="wiki" class="col-lg-8 p-3"></div>
            <div class="col-2"></div>
        </div>
        
    </div>
</div>
    
<script type="text/javascript" src="{{ url_for('static', filename='js/ajax.js') }}"></script>

{% endblock %}